<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="/stylesheets/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="p-8 w-full bg-gradient-to-b from-purple-700 to-purple-400">
      <h1 class="w-full text-center text-white"><%= title %></h1>
      <ul
        class="p-8 flex flex-row justify-center align-center gap-x-6 text-white"
      >
        <li>
          <a href="/inventory">Home</a>
        </li>
        <li>
          <a href="/inventory/vehicles">Vehicles</a>
        </li>
        <li>
          <a href="/inventory/makes">Makes</a>
        </li>
        <li>
          <a href="/inventory/vehicle/create">Add Vehicle</a>
        </li>
        <li>
          <a href="/inventory/make/create">Add Make</a>
        </li>
      </ul>
    </div>

    <div
      class="mx-4 px-8 py-4 flex flex-row justify-between -translate-y-2/4 bg-white rounded-lg shadow-md"
    >
      <div class="text-center">
        <p><strong><%= vehicle_count %></strong></p>
        <p>Vehicles</p>
      </div>
      <div class="text-center">
        <p><strong><%= make_count %></strong></p>
        <p>Makes</p>
      </div>
    </div>
  </body>
</html>
