<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <script src="/javascripts/index.js" defer></script>
  </head>
  <body class="font-satoshi bg-slate-100">
    <div
      class="px-4 md:px-8 p-8 w-full bg-gradient-to-b from-purple-700 to-purple-400 flex row justify-center align-center"
    >
      <a href="/inventory/vehicles"
        ><img class="w-8 cursor-pointer" src="/images/home.svg"
      /></a>
      <h1
        class="w-full text-center text-white text-xl font-semibold md:text-2xl"
      >
        <%= title %>
      </h1>
      <img id="add-toggle" class="w-8 cursor-pointer" src="/images/plus.svg" />
    </div>

    <div
      id="mobile-add"
      class="md:-mx-4 hidden z-50 absolute h-screen w-screen justify-center bg-slate-900 bg-opacity-50 md:bg-transparent md:w-full md:justify-end md:h-fit"
    >
      <div
        class="p-4 m-4 bg-white w-full h-fit rounded-lg -translate-y-8 shadow-xl md:w-fit md:h-fit md:m-0 md:mx-4 md:px-8 md:-translate-y-4"
      >
        <ul>
          <li class="hover:underline">
            <a
              class="flex col gap-x-2 justify-center align-center"
              href="/inventory/make/create"
            >
              <img class="w-8 cursor-pointer" src="/images/plus_slate.svg" />
              <p class="flex items-center">Add Make</p>
            </a>
          </li>
          <li class="hover:underline">
            <a
              class="flex col gap-x-2 justify-center align-center"
              href="/inventory/vehicle/create"
            >
              <img class="w-8 cursor-pointer" src="/images/plus_slate.svg" />
              <p class="flex items-center">Add Vehicle</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <form
      class="flex flex-col items-center gap-y-8 my-8 mx-4 md:mx-8 text-slate-700"
      method="post"
    >
      <div class="relative w-full max-w-xl">
        <label class="px-2 absolute -top-3 left-2 bg-slate-100" for="name"
          >Make:</label
        >
        <input
          class="w-full p-4 rounded-lg bg-slate-100 border border-slate-700 text-slate-700"
          id="name"
          name="name"
          type="text"
          placeholder="Audi, Toyota, etc."
          required
          value="<%= typeof make === `undefined` ? `` : make.name %>"
          autocomplete="off"
        />
      </div>
      <button
        class="py-4 px-8 rounded-lg bg-slate-100 box-content border border-slate-700 text-slate-700 transition hover:text-white hover:border-slate-100 hover:bg-gradient-to-b from-purple-700 to-purple-400 hover:"
        type="submit"
      >
        Submit
      </button>

      <% if (typeof errors !== `undefined`) { %>
      <ul class="text-red-600 font-semi-bold">
        <% for (item of errors) { %>
        <li><%= item.msg %></li>
        <% } %>
      </ul>
      <% } %>
    </form>
  </body>
</html>
